.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.circulo {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin: 20px;
  
}

.red{
  background: rgb(243, 77, 77);
}
.yellow{
  background: rgb(255, 255, 104);
}
.green{
  background: #5cb85c;
}
.blue{
  background: rgb(79, 79, 255);
}

.black{
  background: rgb(94, 94, 94);
} 
.white{
  background: rgb(235, 177, 220);
}
.orange{
  background: rgb(250, 157, 96);
}

.resplandorblanco{   
  -moz-box-shadow: 0px 0px 30px #ffffff; 
  -webkit-box-shadow: 0px 0px 30px #ffffff; 
  box-shadow: 0px 0px 30px #ffffff;
  
  padding: 10px;
  border: 1px solid #fff;
}

#containerPad{
  background: #4f4f4f;
  display: table;
  margin: 10px auto;
}

#weStart{
  color: white;
    margin: auto;
    background: black;
}

#scores{    
  position: absolute;
  top: 59px;
  width: 229px;
  z-index: 1;
}